language: go
go:
- '1.10.2'
sudo: required
services:
  - docker
script:
 - docker build -t komand/go-plugin-2 .
 - docker run komand/go-plugin-2:latest make build
 - docker run komand/go-plugin-2:latest make test
deploy:
  provider: script
  script: make deploy
  skip_cleanup: true
  on:
      tags: true
